body{
    background-color: rgb(197, 130, 110);
}

h1{
    font-size: 60px;
    font-family: 'impact';
    color: white;
    
}

p{
    font-size: 30px;
    color: white;
}

#theCity{

align-content: center;

}
#subitle {
    font-size:1.3em;
}