a {
    color: white;  
}

a:hover {
    color: white;
    text-decoration: none;
}

.linkB {
    color: #77B6D1;
}

h1 {
    font-family: 'impact';
}


.bars {
    font-family: 'Playfair Display', serif;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    padding-left: 10px;
    border-left: solid 3px #403D39;
    background-color: #BF9A95;

}

#header {
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    background-color: #eee;
    height: 100px;
    padding-top: 20px;
}