
a {
    color: white;
    
}
a:hover {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'impact';
}

p {
    font-size: 30px;
    color: white;
}
#subitle {
    font-size:1.3em;
}

img {
    max-width: 50%;
}

.foods {
    color: #77B6D1;
}

#header {
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
    font-weight: bolder;
    background-color: #eee;
    height: 100px;
    padding-top: 20px;
}